<footer>
  <section id="certifications">
    <div class="container">
      <h3>Certifications</h3>
      <div class="certification-logos">
        <img src="{{ '/assets/images/certification-logos/pv-greencard.png' | relative_url }}" alt="PV GreenCard" />
        <img src="{{ '/assets/images/certification-logos/sapvia.png' | relative_url }}" alt="SAPVIA" />
        <img src="{{ '/assets/images/certification-logos/ecasa.png' | relative_url }}" alt="ECASA" />
        <img src="{{ '/assets/images/certification-logos/ises.png' | relative_url }}" alt="ISES" />
        <img src="{{ '/assets/images/certification-logos/zasea.png' | relative_url }}" alt="ZASEA" />
      </div>
    </div>
  </section>
  <div class="container">
    <p>&copy; {{ site.time | date: "%Y" }} Solarcel and Co. All rights reserved.</p>
    <ul class="social-links">
      <li>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
  </div>
</footer>
